<h1>Agilence Products</h1>



<p *ngIf="!products"><em>Loading...</em></p>

<table class='table table-striped' *ngIf="products">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name. (C)</th>
      <th>Quantity. (F)</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products">
      <td>{{ product.productId }}</td>
      <td>{{ product.productName }}</td>
      <td>{{ product.inventoryQuantity }}</td>
      <td>{{ product.price }}</td>
    </tr>
  </tbody>
</table>
