<h1>Agilence Products</h1>



<p *ngIf="!products"><em>Loading...</em></p>

<table class='table table-striped' *ngIf="products">
  <thead>
    <tr>

      <th (click)="getProductsSortedByName()">Name</th>
      <th (click)="getProductsSortedByQuantity()">Quantity</th>
      <th (click)="getProductsSortedByPrice()">Price</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products">

      <td class="text-harper">{{ product.productName }}</td>
      <td  [ngClass]="(product.inventoryQuantity > 3)?'text-danger':'text-harper'">{{ product.inventoryQuantity }}</td>
      <td class="text-harper">{{ product.price }}</td>
    </tr>
  </tbody>
</table>
