<h1>Products</h1>



<p *ngIf="!products"><em>Loading...</em></p>

<table class='table table-striped' *ngIf="products">
  <thead>
    <tr>

      <th  (click)="getProductsSortedByName()"><span class="pointer"> <i [ngClass]="(sortedBy=='Name')?'pi pi-sort-down' :'pi pi-sort'"></i>Name</span> </th>
      <th  (click)="getProductsSortedByQuantity()"><span class="pointer"><i [ngClass]="(sortedBy=='Quantity')?'pi pi-sort-down' :'pi pi-sort'"></i>Quantity</span></th>
      <th  (click)="getProductsSortedByPrice()"><span class="pointer"><i [ngClass]="(sortedBy=='Price')?'pi pi-sort-down' :'pi pi-sort'"></i>Price</span></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products">

      <td class="text-harper">{{ product.productName }}</td>
      <td  [ngClass]="(product.inventoryQuantity > 3)?'text-danger':'text-harper'">{{ product.inventoryQuantity }}</td>
      <td class="text-harper">{{ product.price | currency : "USD" }}</td>
    </tr>
  </tbody>
</table>
